/*
 * Copyright (c) 2021 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&usart3 {
	dmas = <&gpdma1 5 26 0x440>,
		<&gpdma1 4 25 0x480>;
	dma-names = "tx", "rx";
};

&gpdma1 {
	status = "okay";
};

&gpdma2 {
	status = "okay";
};
