/*
 * Copyright (c) 2024 STMicroelectronics
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		mspi0 = &mspi1;
	};
};

&mspi1 {
	/* property not compatible with DT macro despite doc/hardware/peripherals/mspi.rst */
	/delete-property/ op-mode;
	/delete-property/ duplex;
	ce-gpios = <&gpiog 6 GPIO_ACTIVE_LOW>;

	mspi_device: mspi_device@0 {
		status = "okay";
		compatible = "zephyr,mspi-emul-device";
		reg = <0x0>;
		mspi-max-frequency = <48000000>;
	};
};
