/*
 * Copyright (c) 2026 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&sram2 {
	zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM_NOCACHE)>;
	status = "okay";
};

&spi4 {
	dmas = <&hpdma1 0 7 STM32_DMA_PERIPH_TX>,
	       <&hpdma1 1 6 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	fifo-enable;

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
};