/*
 * Copyright (c) 2022, STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&mx25lm51245 {
        /delete-property/ data-rate;
        /delete-property/ spi-bus-width;
	spi-bus-width = <OSPI_SPI_MODE>;
	data-rate = <OSPI_STR_TRANSFER>;
};
