/*
 * Copyright (c) 2023 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */


&octospi1 {
	/* request 57 for OCTOSPI1 */
	dmas = <&gpdma1 0 57 STM32_DMA_PERIPH_TX
		&gpdma1 1 57 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
};

&gpdma1 {
	status = "okay";
};
